<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oaSqlMapper">
	<select id="queryFollowList" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryFollowVO">
SELECT
	oo.user_id_pro user_id_pro,
	uu.user_name user_name,
	uu.avatar_origin origin,
	uu.avatar_thumb thumb,
	upu.company_name,
	upu.service_category,
	upu.service_description,
	oo.favourite_tag,
	oo.block_tag,
	uu.state_date lastupdate
FROM
	t_oa_follow oo,
	t_user_pro_users upu,
	t_user_users uu
WHERE
	oo.user_id = #{user_id}
AND oo.user_id_pro = upu.user_id
AND oo.user_id_pro = uu.user_id
AND upu.state = 1
AND uu.state = 1
	</select>
	
	<select id="queryFollowListForAdsDsp" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryFollowVO">
		select user_id from t_oa_follow where user_id_pro = #{user_id_pro} and block_tag = 0 and state = 1
	</select>

	<select id="queryPublicList" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryPublicQueryVO">	
SELECT
	uu.user_id,
	uu.user_code,
	uu.user_name,
	uu.country_code countrycode,
	uu.phone_no cellphone,
	uu.email,
	uu.address,
	uu.user_type type,
	uu.avatar_origin origin,
	uu.avatar_thumb thumb,
	uu.state_date lastupdate,
	upu.company_name,
	upu.service_category,
	upu.service_description,
	upu.country_code countrycode_pro,
	upu.phone_no phone_pro,
	upu.email email_pro,
	upu.address address_pro
FROM
	t_user_pro_users upu,
	t_user_users uu
WHERE
	upu.state = 1
AND uu.state = 1
AND uu.user_id = upu.user_id
AND (
	INSTR(upu.company_name,#{key}) > 0
	OR INSTR(upu.service_category,#{key}) > 0
	OR INSTR(upu.service_description,#{key})> 0
	OR INSTR(uu.user_name,#{key})> 0
)
AND uu.user_id &lt;&gt; #{cur_user_id}
	</select>	
<select id="queryFollowListStateDate" parameterType="map"
		resultType="java.sql.Timestamp">
select max(state_date) from t_oa_follow where user_id = #{user_id} and state = 1		
</select>	
	
</mapper>