<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSqlMapper">
	<sql id="query_user_column_list">
SELECT
	uu.user_id,
	uu.user_name,
	uu.country_code countrycode,
	uu.phone_no cellphone,
	uu.email,
	uu.address,
	uu.user_type type,
	uu.avatar_origin origin,
	uu.avatar_thumb thumb,
	uu.state_date lastupdate,
	upu.company_name,
	upu.service_category,
	upu.service_description,
	upu.country_code countrycode_pro,
	upu.phone_no phone_pro,
	upu.email email_pro,
	upu.address address_pro
FROM
	t_user_users uu
LEFT JOIN t_user_pro_users upu ON uu.user_id = upu.user_id
AND upu.state = 1
WHERE
	uu.state = 1
	</sql>
	
	<select id="queryUsersFuzzy" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryUserInfoVO">	
		<include refid="query_user_column_list"/>
		<if test="key != null">
			AND (INSTR(uu.user_name,#{key}) &gt; 0  or INSTR(uu.phone_no,#{key}) &gt; 0)
		</if>
	</select>
 
	<select id="queryUsersGroup" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryUserInfoVO">	
		<include refid="query_user_column_list"/>

		<if test="userIds != null">
			AND uu.user_id in
			<foreach close=")" collection="userIds" item="user_id"
				open="(" separator=",">
				#{user_id}
			</foreach>
		</if>
  	</select>
  	
  	<select id="queryUserAccurate" parameterType="map"
		resultType="com.samchat.common.beans.manual.db.QryUserInfoVO">	
		<include refid="query_user_column_list"/>
 		<if test="type == 0">
 			AND uu.phone_no = #{cellphone}
		</if>
		<if test="type == 1">
			AND uu.user_id = #{user_id}
		</if>
		<if test="type == 2">
			AND uu.user_name = #{user_name}
		</if>
   	</select>
</mapper>