<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSqlMapper">
	<select id="query_sysdate" parameterType="map" resultType="java.sql.Timestamp">
		select now()
	</select>

	<insert id="query_seqId" parameterType="com.samchat.common.beans.manual.common.SeqQuery">
		replace into ${seq_name} (stub) values('a')
		<selectKey keyProperty="seq_id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

</mapper>