<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byType">

	<!-- 使用annotation自动注入bean,并启动相关处理注解的进程 -->
	<context:component-scan base-package="com.samchat">
		<context:include-filter type="regex" expression="action\.*\.*" />
		<context:include-filter type="regex" expression="service.*.*" />
		<context:include-filter type="regex" expression="dao.redis.*.*" />
		<context:include-filter type="regex" expression="dao.db.*.*" />
 	</context:component-scan>
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/redis.properties</value>
			</list>
		</property>
	</bean>

</beans>